<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Chronos</title>
  <script src="/opentok.js"></script>
</head>
<body>
  <div id="instructions"></div>
  <div id="startButtonContainer"></div>

  <div id="timerContainer">
    <h1 id="hi-screen-times"> Hi-Res Screen Timers
      <h3 id="hi-screen-avg"></h2>
    </h1>
    <h1 id="hi-cam-times"> Hi-Res Cam Timers
      <h3 id="hi-cam-avg"></h2>      
    </h1>
  </div>
  
  <script>
    (function () {
      var role, runs;
      var subscribeEnabled = false;

      (function roleCheck () {
        var input = prompt('What role are you? Valid inputs: chrome, ie');
        if (input === 'chrome') {
          role = 'chrome';
          var startButtonContainer = document.getElementById('startButtonContainer');
          var startButton = document.createElement('button');
          startButton.textContent = "Start Automated Test Suite";
          startButton.setAttribute('id', 'startTestsButton');                      
          startButton.setAttribute('style', 'margin:40px;width:40em;height:5em;');
          startButtonContainer.appendChild(startButton);
          startButton.addEventListener("click", startTests);
        } else if (input === 'ie') {
          role = 'ie';
          enableResubscribe();
          (function askRuns () { 
            runs = parseInt(prompt('How many tests do you want to run per suite? 1-10 only.'));
            if (1 > runs || 10 < runs) {
              askRuns();
            }
          })();
          var instructionsEl = document.getElementById('instructions');
          instructionsEl.textContent = "Click \"Start Tests\" on the Chrome browser.";
        } else {
          triggerFailure();
          roleCheck();
        }
      })();

      var publishers = {};
      var subscriber;
      var timeAvgs = {};
      timeAvgs.hiScreen = [];
      timeAvgs.hiCam = [];
      var screenTestCount = 0, camTestCount = 0;
      var startTime;


      //OpenTok controller
      var session = OT.initSession("45230542", "1_MX40NTIzMDU0Mn5-MTQzMzc5MTc2MzM1N35VNzBqNHZkQnY4RWVPSUV2R3VIdk5nTSt-fg");
      OT.registerScreenSharingExtension('chrome', 'jkjkdegdhdmhmpcpacobbichgoceicaf');
      session.on("streamCreated", function(event) {
         startTime = new Date().getTime();
         subscriber = session.subscribe(event.stream, function (err) {
           timerHandler(err, event);
         });
      });
      session.on('signal:startCamTests', function () {
        if (role === 'chrome') {        
          publishHiCam(false, function () {
            publishHiCam(true);
          });
        }
      });
      session.on('signal:endTests', function () {
        if (role === 'chrome') {        
          publishHiCam(false);
        }
      });
      session.connect("T1==cGFydG5lcl9pZD00NTIzMDU0MiZzaWc9OTc4NzllMzAzZjJjY2ZiZmQ2ODRlZWMyZTgxZDViMGE2MDYyYzVhZTpyb2xlPXB1Ymxpc2hlciZzZXNzaW9uX2lkPTFfTVg0ME5USXpNRFUwTW41LU1UUXpNemM1TVRjMk16TTFOMzVWTnpCcU5IWmtRblk0UldWUFNVVjJSM1ZJZGs1blRTdC1mZyZjcmVhdGVfdGltZT0xNDMzNzkxODg0Jm5vbmNlPTAuMTcxOTc3MDg0NTQyNTA1MDQmZXhwaXJlX3RpbWU9MTQzNDM5NjUyMCZjb25uZWN0aW9uX2RhdGE9");

      function timerHandler (err, event) {
        if (err) {
          console.log(err);
          alert('Test failed, error encountered. Please reload both browsers and try again.');
          return;
        }

        var type = event.stream.videoType;

        if (type === 'screen' && screenTestCount++ >= runs) {
          session.signal({type: 'startCamTests'}, function (err) {if (err) {triggerFailure()}});
        } else if (type === 'camera' && camTestCount++ >= runs) {
          session.signal({type: 'endTests'}, function (err) {if (err) {triggerFailure()}});
          triggerSuccess();          
        }

        var endTime = new Date().getTime();
        var splitTime = endTime - startTime;
        var width = event.stream.videoDimensions.width;
        var height = event.stream.videoDimensions.height;
        var container, avgHandle;

        if (type === "screen") {
          container = document.getElementById("hi-screen-times");
          avgHandle = "hiScreen";
          avgEl = document.getElementById("hi-screen-avg");
        } else if (type === "camera") {
          container = document.getElementById("hi-cam-times");
          avgHandle = "hiCam";
          avgEl = document.getElementById("hi-cam-avg");
        } else {
          console.log("Error: Unexpected stream size or type.");
          return;
        }

        var subscribeTime = document.createDocumentFragment();
        var time = document.createElement("h2");
        time.textContent = "" + splitTime + "ms for a " + width + "x" + height + " " + type + " stream";
        subscribeTime.appendChild(time);
        container.appendChild(subscribeTime);
        timeAvgs[avgHandle].push(splitTime);
        var newAvg = getAvg(timeAvgs[avgHandle]);
        avgEl.textContent = newAvg + "ms over " + timeAvgs[avgHandle].length + " tests";

        session.unsubscribe(subscriber, function () {
          //Recursively resubscribe
          startTime = new Date().getTime();      
          if (subscribeEnabled) {
            subscriber = session.subscribe(event.stream, function () {
              timerHandler(err, event);
            });
          }                
        });
      }

      function disableResubscribe () {
        subscribeEnabled = false;
      }

      function enableResubscribe () {
        subscribeEnabled = true;
      }


      //Publishing Code
      function publishHiScreen (bool, callback) {
        bool = bool || false;
        callback = callback || function () {}
        if (!bool) {
          if (publishers.hiScreen) {
            publishers.hiScreen.destroy();
          }
          return;
        }
        publishers.hiScreen = OT.initPublisher(null, {videoSource: "screen", maxResolution: { width: 1280, height: 720 }}, function () { callback() });
        session.publish(publishers.hiScreen);
      }

      function publishHiCam (bool, callback) {
        bool = bool || false;
        callback = callback || function () {}
        if (!bool) {
          if (publishers.hiCam) {
            session.unpublish(publishers.hiCam);
          }
          return;
        }
        publishers.hiCam = OT.initPublisher(null, {resolution: "1280x720"}, function () { callback() });      
        session.publish(publishers.hiCam);
      }

      function getAvg (numArr) {
        var sum = 0;
        for (i in numArr) {
          sum += numArr[i];
        }
        return sum / numArr.length;
      }

      function startTests () {
        publishHiScreen(true);
      }

      function triggerFailure () {
        alert('Only "chrome" or "ie" are acceptable inputs. Try again.');
      }

      function triggerSuccess () {
        alert('Successfully ran ' + runs + ' tests.');
      }
    })();

  </script>
</body>
</html>